language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "pypy"

matrix:
  allow_failures:
    - python: "3.3"
    - python: "pypy"

env:
  - TEST_TYPE=unit
  - TEST_TYPE=functional

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

script:
  - make $TEST_TYPE
