include COPYING
include Makefile
include README.rst
include development.txt
include requirements.txt
include tests/functional/fixtures/playback-*.json
include tox.ini
recursive-include docs *.*
recursive-include tests *.py
