include requirements.txt
include test-requirements.txt
include development.txt
recursive-include tests *.py
include tests/functional/fixtures/playback-*.json
include COPYING
include Makefile
include README.md
include README.rst
include tox.ini
