[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
ndg-httpsclient = "*"

[dev-packages]
"flake8" = "*"
"httplib2" = "*"
"pathlib2" = "*"
"urllib3" = "*"
coverage = "*"
cryptography = "==2.3"
ipdb = "*"
mock = "*"
ndg-httpsclient = "*"
nose = "*"
nose-randomly = "*"
pyopenssl = ">=17.5.0"
rednose = "*"
requests = {version = "*", extras = ["security"]}
singledispatch = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sure = "*"
tornado = "*"
tox = "*"
twine = "*"
backports-abc = "*"

[requires]
python_version = "3.6"
