bolacha==0.6.0
couleur==0.5.0
coverage==3.5.3
cssselect==0.8
distribute==0.6.30
Flask==0.9
httplib2==0.7.6
ipdb==0.7
ipython==0.13.1
Jinja2==2.6
lxml==3.1.2
markment==0.2.14
misaka==1.0.2
mock==1.0.1
multiprocessing==2.6.2.1
nose==1.2.1
py==1.4.12
Pygments==1.6
python-qt==0.50
PyYAML==3.10
redis==2.7.1
requests==1.1.0
speakers==0.0.3
steadymark==0.4.5
sure==1.2.1
tornado==2.4
tox==1.4.2
virtualenv==1.8.2
Werkzeug==0.9.1
