name: HTTPretty Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  python:
    name: "Python"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - 3.6.5
          - 3.7.3
          - 3.8.6
          - 3.9.0

    steps:
    - uses: actions/checkout@v2
    - name: Install python version
      uses: gabrielfalcao/pyenv-action@v7
      with:
        default: "${{ matrix.python }}"
        command: make setup

    - name: Unit Tests
      run: make unit

    - name: Test Bugfixes
      run: make bugfixes

    - name: PyOpenSSL tests
      run: make pyopenssl

    - name: Functional Tests
      run: make functional
